<app-header title="$ctrl.pageTitle"></app-header>

<div class="notes-overview">
  <md-table-container>
    <div ng-if="!$ctrl.notes.length">Be the first to add a note!</div>
    <table md-table ng-if="$ctrl.notes.length">
      <thead md-head>
      <tr md-row>
        <th md-column><span class="overview-header">Created By</span></th>
        <th md-column class="overview-header"><span class="overview-header">Title</span></th>
        <th md-column class="overview-header"><span class="overview-header">Date</span></th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="note in $ctrl.notes">
        <td md-cell>{{note.author}}</td>
        <td md-cell>{{note.title}}</td>
        <td md-cell>{{note.date | date:'medium'}}</td>
      </tr>
      </tbody>
    </table>
    <md-button class="md-raised md-primary load-button" ui-sref="createAndView">
      <md-icon md-font-set="material-icons" aria-label="home">edit</md-icon>
      Create New Note
    </md-button>
  </md-table-container>

</div>
